body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
}

.box-container {
    text-align: center;
    padding: 40px 20px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container img {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.box-container .text {
    max-width: 600px;
    text-align: left;
    background-color: white;
    padding: 100px 200px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.box-container .text h1 {
    font-size: 3.5rem;
    color: #007bff;
    font-weight: 700;
    text-shadow: 0.025em 0.025em 0.125em rgba(0,0,0,0.4);
}

p {
    font-size: 15px;
    color: #000;
    line-height: 1.2;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background: #0056b3;
}
.form-section, .resume-section{
    width: 50%;
    padding: 20px;
    margin: 20px auto;
    background-color: white;

}
.form-section h2{
    text-align: center;
}
.input{
    margin: 1.3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box{
    width: 100%;
    padding: 1rem;
    margin-right: 10px;
    border: 1px solid #ef29e9;
    outline: none;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-plus{
    cursor: pointer;
}
span{
    width: 7rem;
    font-size: 0.9rem;
    color: #575757;
    margin-right: 1rem;
}
.detail-list{
    list-style-type: disc;
    padding-left: 20px;
}
.details-list li{
    margin-bottom: 6px;
    position: relative;
}
header{
    text-align: center;
    margin-bottom: 10px;
}
section{
    margin: 2rem 0;
    line-height: 1rem;
}
h1{
    margin: 0;
    font-size: 2.5rem;
}
h2{
    font-size: 1.2rem;
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 2px solid #007bff;
    color: #333;
}
h2 i{
    font-size: 1rem;
    padding-right: 5px;
}
h3{
    font-size: 1.2rem;
}
ul{
    padding: 0 40px;
}
ul li{
    font-size: 15px;
    line-height: 1.1;
    margin: 5px 0;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0.01rem;
    padding: 0;
    margin: 0;
}
.flex p{
    padding-right: 5px;
}
h5{
    padding: 0 5px;
}